rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth != null
    }

    function isUserAuthenticated(uid){
      return isAuthenticated() && request.auth.uid == uid;
    }

    match /users/{uid} {
      allow create, update: if isUserAuthenticated(uid)
        && request.resource.data.size() <= 4
        && request.resource.data.createdAt <= request.time
        && request.resource.data.updatedAt == request.time
        && ((!('initialTime' in request.resource.data)) || ((request.resource.data.initialTime is number) && (request.resource.data.initialTime >= 0) && (request.resource.data.initialTime < 1000000)))
        && ((!('englishService' in request.resource.data)) || (request.resource.data.englishService == null) || (request.resource.data.englishService is path))
      allow read: if isUserAuthenticated(uid)
    }

    match /users/{uid}/studyLog/{id} {
      allow update, create, read: if isUserAuthenticated(uid);
    }

    match /publicProfiles/{uid} {
      allow read: if isAuthenticated();
      allow create, update: if isUserAuthenticated(uid);
    }

    match /englishServices/{englishServiceId} {
      allow read: if isAuthenticated();
    }

  }
}